/vendor
/node_modules
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/.idea
.DS_Store

# Environment files and backups
.env.backup
.env.*.backup
*.env.backup
env-backup

